.hidden {
    display: none;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trextarea {
    width: 100%;

}

.keyboard--row {
    display: flex;
}

